body {
    background-color: #f7f7f7 !important;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.form-container {
    background: #fff;
    max-width: 400px;
    margin: 40px auto;
    padding: 30px;
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
}

h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 28px;
    font-weight: 600;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 8px;
    color: #333;
}

.form-group input {
    width: 100%;
    height: 44px;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    transition: border 0.2s;
}

.form-group input:focus {
    border-color: #a960ee;
    outline: none;
    box-shadow: 0 0 5px rgba(169, 96, 238, 0.2);
}

.form-actions {
    text-align: center;
    margin-top: 20px;
}

.form-actions button {
    background-color: #333334;
    color: #fff;
    font-weight: 600;
    padding: 10px 0px;
    border: none;
    border-radius: 6px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-actions button:hover {
    background-color: #717fe0;
}

.toggle-form {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.toggle-form a {
    color: #717fe0;
    text-decoration: none;
    font-weight: 500;
}

.toggle-form a:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}

@media screen and (max-width: 480px) {
    .form-container {
        width: 90%;
        padding: 20px;
    }

    input, button {
        font-size: 16px;
    }
}
